version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: real_estate_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: real_estate_agency
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./real_estate_agency.sql:/docker-entrypoint-initdb.d/real_estate_agency.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build: .
    container_name: real_estate_web
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: postgresql://postgres:1234@db/real_estate_agency
      FLASK_ENV: development
      FLASK_DEBUG: "True"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app
    command: python app.py

volumes:
  postgres_data:

